* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #4ec8f9;
}

.container {
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
    justify-content: center;
    gap: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

.form-wrapper {
    max-width: 400px;
}

.form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.form label {
    color: #3950dc;
    font-size: 25px;
    font-family: Arial, sans-serif;
}

.form input {
    border: 1px solid #3950dc;
    border-radius: 30px;
    background-color: #5ceade;
    color: #e620fc;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    width: 170px;
    height: 30px;
    margin: 0 auto;
}

.form .btn {
    width: 189px;
    color: #e620fc;
    font-size: 20px;
    cursor: pointer;
}

.joker__wrapper {
    display: none;
    max-width: 700px;
    min-height: 467px;
    box-sizing: border-box;
    background-image: url("joker.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top, left;
}

.joker {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;

}

.joker__h2 {
    margin-top: 10px;
    margin-bottom: 30px;
}

.text {
    display: inline-block;
    color: yellow;
    font-family: Arial,sans-serif;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: underline 2px solid #dc07f4;
}

@media screen and (max-width: 880px) {
    .joker__h2 {
        margin-bottom: 150px;
    }
}

@media screen and (max-width: 779px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .joker__wrapper {
        align-items: center;
    }

    .joker__h2 {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 435px) {
    .text {
        font-size: 20px;
    }
    .joker__wrapper {
      min-height: 300px;
    }
}

@media screen and (max-width: 355px) {
    .joker__wrapper {
        min-height: 250px;
    }
}